<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Jaspreet Singh. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="https://media-exp1.licdn.com/dms/image/C4D03AQFW-ajyvTenPQ/profile-displayphoto-shrink_200_200/0?e=1585785600&v=beta&t=XKtJfYQMuvxFyyOuzVZeuWscGewi90700wRtQTbplXw">
    </div>
    
    {{>footer}}
</body>

</html>